* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

nav {
 display: flex;
 flex-direction: row;
 width: 100%;
 height: 70px;
 background: linear-gradient(-135deg, #2ca9f2,#43d141);
 line-height: 70px;
 font-weight: 1000;
 border: 3px solid skyblue;
 font: 20px;
}

#logo {
 height: 60px;
 padding: 4px;
 border-radius: 10px;
}

nav ul {
 float: right;
 margin-right: 30px;
}

nav ul li {
 list-style: none;
 display: inline-block;
}

nav ul li:hover {
 background-color: white;
 color: deepskyblue;
 border-radius: 10px;
}

nav ul li a {
 text-decoration: none;
 color: wheat;
 padding: 10px;
}

#search {
 border-radius: 20px;
 padding-left: 20px;
 height: 40px;
}

#side1 {
 float: right;
 margin-left: 660px;
}

/* Navbar section ended
Login Section code Start */
.wrapper {
 /* margin: 100px; */
 margin: 100px 300px 100px 300px;
 width: 380px;
 background-color: #f2f2f2;
 border-radius: 15px;
 background: 4px solid black;
 box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3)
}

.wrapper .title {
 font-size: 25px;
 color: white;
 text-align: center;
 line-height: 100px;
 font-weight: 700;
 background: linear-gradient(-135deg, #2ca9f2,#43d141);
 border-radius: 15px 15px 0px 0px;
}

.wrapper form {
 padding: 10px 30px 50px 30px;
}

.wrapper form .field {
 height: 50px;
 width: 100%;
 margin-top: 20px;
}

.wrapper form .field input {
 font-size: 20px;
 height: 100%;
 width: 100%;
 padding-left: 15px;
 border-radius: 25px;
}
.wrapper .pass-link{
 margin: 0px 0px 20px 10px;
}
.wrapper .remender{
 margin: 10px 0px 20px 10px;
}
.wrapper form .field input[type="submit"]{
 color: white;
background: linear-gradient(-135deg, #2ca9f2,#43d141);
font-size: 20px;
font-weight: 700;
border: none;
cursor: pointer;
transition: all 0.3s ease;
}
.wrapper form .field input[type="submit"]:active{
 transform: scale(0.90);
}
.wrapper form .sign{
 margin-top: 15px;
 text-align: center;
}
.wrapper form .sign a, .wrapper .pass-link a{
 color:#43d141;
 text-decoration: none;
}
.wrapper form .sign a:hover, .wrapper .pass-link a:hover{
 text-decoration: underline;
 font-size: 20px;
}
/* footer section code */
footer {
 background-color:#43d141;
 color: whitesmoke;
 padding-left: 20px;
 height: 20px;
}
@media (max-width: 900px){
 #nav {
  font-size: 10px;
  align-items: center;
  display: flex;
 }
 #side1 {
  margin-left: 10px;
  display: flex;
  padding: 10px;
  /*margin-top: 10px;*/
  align-items: center;
  font-size: 20px;
  padding-left: 180px;
 }
 #search {
  height: 30px;
  width: 150px;
  /*margin-top: 10px;*/
 }
#name {
 display: none;
}
.wrapper{
 margin: 0px;
 padding: 0px;
 width: 355px;
 border-radius: 0px;
 height: 590px;
}
}
